/* Estilos generales */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

/* Contenedor principal */
.container {
    width: 90%;
    max-width: 1200px; /* Ajustado para pantallas más grandes */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Logo */
.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

/* Títulos */
h1 {
    color: #333;
    margin-bottom: 20px;
}

/* Contenedor del formulario */
.container-form {
    width: 100%;
    max-width: 800px; /* Limitar ancho para pantallas grandes */
    margin: 0 auto;
}

/* Sección del formulario */
.form-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

/* Títulos de sección */
.section-title {
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Contenido de sección */
.section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

/* Estilos para el select */
.section-content select,
.inputs-container select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff; /* Fondo blanco para el select */
    appearance: none; /* Quitar la apariencia predeterminada del select en algunos navegadores */
}

.section-content select:focus,
.inputs-container select:focus {
    border-color: #095c22ce;
    box-shadow: 0 0 5px rgba(42, 216, 51, 0.5);
    outline: none;
}

/* Etiquetas y campos de entrada */
.section-content label {
    margin-bottom: 5px;
    display: block;
}

.section-content input,
.section-content select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Estilos de enfoque para campos de entrada */
.section-content input:focus,
.section-content select:focus {
    border-color: #095c22ce;
    box-shadow: 0 0 5px rgba(42, 216, 51, 0.5);
    outline: none;
}

/* Contenedor de inputs adicionales */
.inputs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 0 10px;
}

/* Estilo para el botón de agregar paquete */
#agregarPaquete {
    padding: 12px;
    font-size: 16px;
    color: #fff;
    background-color: #489d5a;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Cambiar color al pasar el ratón sobre el botón */
#agregarPaquete:hover {
    background-color: #1fc746;
}

/* Contenedor de paquetes */
#paquetesContainer {
    margin-top: 10px;
}

/* Botones */
button,
#btnObtenerPegote,
#btncerrarSesion {
    width: 100%;
    max-width: 200px; /* Ajustado para mayor compatibilidad */
    padding: 10px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 5px 0; /* Añadido margen para separación */
}

button {
    background-color: #489d5a;
}

button:hover {
    background-color: #1fc746;
}

#btnObtenerPegote {
    background-color: #28a745;
}

#btnObtenerPegote:hover {
    background-color: #218838;
}

#btncerrarSesion {
    background-color: #50c569;
}

#btncerrarSesion:hover {
    background-color: #095c22;
}

/* Mensaje de respuesta */
#Respuesta {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
    padding: 15px;
    border-radius: 4px;
    background-color: #eeeded;
    color: #721c24;
    font-size: 14px;
    line-height: 1.5;
}

/* Estilos de tablas */
.response-table,
.historial-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.response-table th,
.response-table td,
.historial-table th,
.historial-table td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

.response-table th,
.historial-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.response-table tr:nth-child(odd),
.historial-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.response-table tr:hover,
.historial-table tr:hover {
    background-color: #e2e2e2;
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    .section-content {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    .inputs-container {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }

    button {
        max-width: 100%;
    }

    #settings-menu {
        width: 100%;
        float: none;
    }

    #settings-content {
        margin-left: 0;
    }
}

 /* Estilos personalizados */
 #movable-button {
    position: absolute;
    width: auto; /* Tamaño automático en función del contenido */
    height: auto; /* Altura automática en función del contenido */
    max-width: 150px; /* Tamaño máximo del botón */
    max-height: 100px; /* Altura máxima del botón */
    font-size: 1rem; /* Tamaño de fuente base */
    display: flex; /* Usa flexbox para centrar el texto */
    align-items: center; /* Centra verticalmente el texto */
    justify-content: center; /* Centra horizontalmente el texto */
    padding: 10px; /* Espaciado interno */
    white-space: nowrap; /* Evita que el texto se envuelva */
    overflow: hidden; /* Oculta el texto que se desborda */
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto se desborda */
}

@media (max-width: 767px) {
    #movable-button {
        font-size: 0.8rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
    }
    .welcome-text {
        font-size: 0.9rem; /* Ajusta el tamaño del texto en pantallas pequeñas */
    }
}
/* Estilos generales del header */
header {
    background-color: #343a40;
}

/* Fondo del navbar */
.navbar {
    background: linear-gradient(to right, #343a40, #495057);
    border-bottom: 1px solid #6c757d;
}

/* Color del texto del navbar */
.navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #e9ecef;
}

/* Fondo y color del botón de cerrar sesión */
#btncerrarSesion {
    background-color: #17a2b8;
    color: #ffffff;
    font-weight: 500;
    border-radius: 50px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#btncerrarSesion:hover {
    background-color: #138496;
    color: #ffffff;
}

/* Estilo para el contenedor de fecha y hora */
#fecha-horaEnvio, #fecha-horaAjustes, #fecha-horaRastreo, #fecha-horaInicio, #fecha-horaCosto {
    font-size: 14px;
    background: rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    border-radius: 4px;
}

/* Estilo del contenedor de bienvenida */
.welcome-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 30px;
    padding: 5px 15px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.welcome-container:hover {
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Texto de bienvenida */
.welcome-text {
    font-size: 14px;
    color: #ffffff;
    font-weight: 600;
    margin: 0;
}