*{
    /* border: 1px solid red; */
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.container {
    width: 90%;
    /* max-width: 1200px;
    min-width: 300px; Ajusta según sea necesario */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.container-form{
    width: 60%;
}

.form-section {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
}

.section-title {
    background-color: #f0f8ff;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-weight: bold;
}

.section-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    margin-bottom: 10px;
}

.section-content label {
    margin-bottom: 5px;
    display: block;
}

.section-content input,
.section-content select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.section-content input:focus,
.section-content select:focus {
    border-color: #095c22ce;
    box-shadow: 0 0 5px rgba(42, 216, 51, 0.5);
    outline: none;
}

.inputs-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    margin-bottom: 20px;
    padding: 0 10px;
}

input[type="text"],
input[type="number"],
input[type="date"],
select.form-select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select.form-select:focus {
    border-color: #095c22ce;
    box-shadow: 0 0 5px rgba(42, 216, 51, 0.5);
    outline: none;
}

#divNombre {
    font-size: 14px;
    color: #fff;
    padding: 0.5%;
    border-radius: 25px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: inline-block;
    transition: background-color 0.3s ease;
}

#divNombre:hover {
    background-color: #0056b3;
}

#btncerrarSesion {
    padding: 10px;
    font-size: 14px;
    color: #fff;
    background-color: #50c569;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btncerrarSesion:hover {
    background-color: #095c22ce;
}

.buttons-container {
    text-align: center;
    margin-top: 20px;
}

.buttons-container button {
    width: calc(100% - 20px);
    max-width: 200px;
    margin: 0 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #489d5a;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1fc746;
}

#Respuesta {
    width: 100%;
    max-width: 600px;
    margin: 20px auto 0;
    padding: 15px;
    border-radius: 4px;
    background-color: #eeeded;
    color: #721c24;
    font-size: 14px;
    line-height: 1.5;
}

#K_Oficina,
#K_Guia,
#CodigoPedidoPegote {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 15px;
}

#K_Oficina:focus,
#K_Guia:focus,
#CodigoPedidoPegote:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}

#btnObtenerPegote {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
}

#btnObtenerPegote:hover {
    background-color: #218838;
}

.table-wrapper {
    overflow-x: auto;
}

#output-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#output-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.response-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.response-table th,
.response-table td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

.response-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.response-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.response-table tr:hover {
    background-color: #e2e2e2;
}

@media (max-width: 768px) {
    .response-table {
        font-size: 14px;
    }
}

#historial-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.historial-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.historial-table th,
.historial-table td {
    border: 1px solid #dddddd;
    padding: 12px;
    text-align: left;
}

.historial-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.historial-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.historial-table tr:hover {
    background-color: #e2e2e2;
}

@media (max-width: 768px) {
    .historial-table {
        font-size: 14px;
    }
}

#estado-guia {
    background-color: #f0f0f0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

#estado-guia:hover {
    background-color: #ca9191;
}

#fecha-hora,
#fecha-horaEnvio,
#fecha-horaInicio,
#fecha-horaRastreo,
#fecha-horaAjustes {
    font-size: 14px;
    color: #947373;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

#settings-menu {
    width: 100%;
    max-width: 200px;
    float: left;
}

#settings-menu ul {
    list-style-type: none;
    padding: 0;
}

#settings-menu ul li {
    padding: 10px;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}

#settings-menu ul li:hover {
    background-color: #ddd;
}

#settings-content {
    margin-left: 220px;
    padding: 20px;
}

@media (max-width: 768px) {
    #settings-menu {
        width: 100%;
        float: none;
    }

    #settings-content {
        margin-left: 0;
    }


    form {
        width: 100%;
        max-width: 800px; /* O el valor que prefieras */
        margin: 0 auto;
        padding: 0;
        box-sizing: border-box;
    }

    button,
    #btnObtenerPegote,
    #btncerrarSesion {
        width: 100%;
        max-width: none;
    }
}


#movable-button {
    position: absolute;
    padding: 15px 30px;
    font-size: 18px;
}